*{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 15px;
}
html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1000px;
}